
<!--begin:Navbar items-->
<ul class="navbar-nav ms-auto">

  <!--begin:home-->
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <!--end:home-->

  <!--begin:about-->
  <li class="nav-item">
    <a class="nav-link" href="/#about">About</a>
  </li>
  <!--end:about-->

  <!--begin:apply-->
  <li class="nav-item">
    <a class="nav-link" href="/#apply">Apply</a>
  </li>
  <!--end:apply-->

  <!--begin:partner-->
  <li class="nav-item">
    <a class="nav-link" href="/#partner">Partner</a>
  </li>
  <!--end:partner-->

  
</ul>
<!--end:Navbar items-->